CLIENT_NAME = {{ client_name.stdout }}
MACHINE_ROLE = CLIENT
SERVER = {{ server_name.stdout }}
NB_FIPS_MODE =  Disable
SERVICES = yes 
INCLUDE_JAVA_GUI_AND_JRE = EXCLUDE 
CA_CERTIFICATE_FINGERPRINT = 61:50:61:AF:95:92:F4:5C:1F:DF:73:67:56:93:29:E8:A5:23:AC:4E
ACCEPT_EULA = yes
PROCEED_WITH_INSTALL = yes