AUTHORIZATION_TOKEN = {{ authorization_token }}
CLIENT_NAME = {{ client_name }}
MACHINE_ROLE = CLIENT
SERVER = {{ server_name }}
SERVICES = yes
INCLUDE_JAVA_GUI_AND_JRE = EXCLUDE
CA_CERTIFICATE_FINGERPRINT = {{ fingerprint }}
PROCEED_WITH_INSTALL = yes
ACCEPT_EULA = yes